.App {
  text-align: center;
}

.time-btn {
  width: 175px;
}

.active-button {
  background: blue !important;
}

.button-python {
  background: brown !important;
}

.button-js {
  background: green !important;
}