.App {
  text-align: center;
}

.time-btn {
  width: 175px;
}

.active-button {
  background: blue !important;
}

.color-brown {
  background: brown !important;
}

.color-green {
  background-color: green !important;
}